cypress.env.json
*/cypress.env.json
bazel-*
**/.DS_Store
.DS_Store
.drone.sec.yml
**.idea/
.idea/
debug.test
*pb.go
node_modules
**node_modules/
site/codelabs
site/build
site/site
/tools
site/.bundle
.env
*/.env
**/.env

