.searchWrapper {
  display: flex;
  place-items: center;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.36);
  box-shadow: 0 0 9px 0 rgba(0,0,0,.36);


  &::before {
    border-bottom: 10px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    -webkit-filter: drop-shadow(0 0 9px rgba(0,0,0,.36));
    filter: drop-shadow(0 0 9px rgba(0,0,0,.36));
    height: 0;
    right: 0;
    position: absolute;
    top: -10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
  }

  &.hidden {
    display: none;
  }
}

.searchBox {
  width: 163px;
}

.searchResults {
  position: absolute;
  background: white;
  max-height: 500px;
  margin-top: 30px;
  width: 540px;
  overflow-y: scroll;
  top: 100%;
  right: 0;
  border: 1px solid #e2e2e2;
  padding: 16px;
  >ul {
    margin-bottom: 30px;
  }

  h5 {
    font-size: 16px;
    font-weight: 600;
    color: #E12726;
    margin-bottom: 15px;
  }

  &.isHidden {
    display: none;
  }

  &.isActive {
    display: initial;
  }

  /* Overriding instant search styles */
  .ais-Hits-list {
    display: grid;
  }

  .ais-Hits-item {
    width: 500px;
  }
}


#searchResults {
  .ais-Hits-item .hit-group {
    display: grid;
    gap: 8px;
  }
  > ul > li {
    border: 1px solid #d5d5d5;
    padding: 15px;
    margin-bottom: 15px;
  }

  .hit-description {
    span strong {
      font-size: 12px;
      color: #898989;
      margin-top: 5px;
    }
  }
}

mark.ais-Snippet-highlighted {
  font-size: 1em;
}

#searchResults .ais-Hits-item .hit-name {
  font-weight: 400;
  font-family: 'Museo-Sans', sans-serif;
  color: #464B54;
}

#searchResults .ais-Hits-item .hit-description {
  font-size: 16px;
  font-family: 'Museo-Sans', sans-serif;
  color: #464B54;
  font-weight: 300;


}

#searchBox .ais-SearchBox-input {
  border: none;
  padding: 12px 30px;
}

.searchContainer {
  display: none;
  position: relative;
  height: 14px;
  width: 14px;
  margin-left: -16px;

  @media(min-width: $tablet-breakpoint-min) {
    display: block;
  }


  svg {
    cursor: pointer;
    fill: #E12726;
    height: 14px;
    width: 14px;
  }
}