body h1.title {
  font-family: museo-sans, sans-serif!important;
}
body {
  font-family: museo-sans, sans-serif!important;
}
google-codelab #drawer ol li[completed] .step:before {
  background-color: #E12726;
}
google-codelab-step h2.step-title {
  font-family: museo-sans, sans-serif!important;
}
google-codelab #drawer ol li a {
  font-family: museo-sans, sans-serif!important;
}
google-codelab #drawer ol ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #EDEDEF;
  -webkit-box-shadow: none!important;
}
#next-step {
  color: #fff;
  background: #E12726;
  font-family: museo-sans, sans-serif!important;
}
#previous-step, #done {
  font-family: museo-sans, sans-serif!important;
  color: #464B54;
}
google-codelab #drawer ol li .step:before {
  content: "";
}
